/* Write your custom CSS here */
.btn-group-sm .material-icons {
    padding-top: 4px;
    font-size: 14px;
    line-height: 1;
}

td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('details_close.png') no-repeat center center;
    cursor: pointer;
}
